<section class="calltoactionsection wf-section">
  <div class="container-4 adjustmentcta w-container">
    <header>
      <h2 class="heading-32"><%== @headline %></h2>
      <% to_p(@content) do |paragraph| %>
        <%== "<p class=\"paragraph-11\">
          #{paragraph}
        </p>" %>
      <% end %>
    </header>
    <a href="tel:(562)384-2575" acf:text="phone" class="ctaphone"><span class="text-span-17"><%== @phone %></span>
  <!-- button is hidden -->
    <a acf:text="CTA Button-text" href="/estimate" target="_blank" class="button-2 cta w-button"><%== @button %></a>
  </div>
</section>