<article class="close wf-section">
  <div data-w-id="7a2acd72-a9a9-b0b0-c880-be9ce10c3aff" style="opacity:0" class="container-5 w-container">
    <h2 class="bottomctadesktop">
      <span class="text-span-18"><%== @headline %></span>
      <br>
      <%== @headline_stylized %>
    </h2>
    <a href="/estimate" target="_blank" class="button-2 bottomadjustment w-button"><%== @button_text %></span></a>
  </div>
</article>