<main id="main-content" class="estimatemaincontent wf-section"></main>
  <section id="call-to-action" class="ctaestimatepage wf-section">
    <div class="centered-container-2 w-container">
      <div class="ctawrapper">
        <h2 class="headingestimatepage">Get An Estimate <span class="text-span-10">Today</span></h2>
        <a href="tel:(562)384-2575" class="link-10">(562)384-2575</a>
        <p class="paragraph-12estimatepage"><br>In need of<strong> Stucco Repair?</strong> Take the next step and get a free estimate Harbor Stucco provides trusted construction and remodeling options for homeowners and business owners alike. Our team of professionals is committed to working with you to make your project a success.<br>‍<br>Pick up the phone and make an appointment for a free estimate or fill out the form below. We look forward to hearing from you.<br><br></p>
      </div>
    </div>
  </section>
  <section id="contact-form" class="contact-form-2 wf-section">
    <div class="container-15 w-container">
      <div class="form-wrapper">
        <h2 class="contactusheading">Contact Us</h2>
        <p class="instructionparagraph">To set up an appointment, please complete the form below. After we receive your information, we will contact you to schedule your appointment within 24 hours.<br><br>Once we schedule your appointment, we will send over a confirmation email. There is no obligation to buy any of our services after receiving your estimate. <br><br>On the day of your appointment, we will meet with you, perform a walkthrough, and discuss your project in greater detail.</p>
        <div id="formInstructions" class="requiredfields"><em class="italic-text">Fields marked with an asterisk (*) are required.</em></div>
        <div class="formcontainer w-form">
          <form id="email-form" name="email-form" data-name="Email Form" method="post" action="/success" data-netlify="true" class="form">
            <div class="inputfieldblock">
              <div class="firstnamewrapper"><label for="Form1firstName" class="field-label-2">First Name *</label><input type="text" class="fieldlines w-input" maxlength="256" name="Form1firstName" data-name="Form 1 First Name" placeholder="" id="Form1firstName" required=""></div>
              <div class="lastnamewrapper"><label for="Form1lastName" class="field-label-2">Last Name</label><input type="text" class="fieldlines w-input" maxlength="256" name="Form1lastName" data-name="Form 1 Last Name" placeholder="" id="Form1lastName"></div>
            </div>
            <div class="inputfieldblock">
              <div class="emailwrapper"><label for="Form1Email">Email *</label><input type="text" class="fieldlines w-input" maxlength="256" name="Form1Email" data-name="Form 1 Email" placeholder="" id="Form1Email" required=""></div>
              <div class="phonewrapper"><label for="Form1phone">Phone *</label><input type="text" class="fieldlines w-input" maxlength="256" name="Form1phone" data-name="Form 1 Phone" placeholder="" id="Form1phone" required=""></div>
            </div>
            <div class="addressblock">
              <div class="addresswrapper"><label for="Form1address" id="contact-first-name" class="field-label-2">Address</label><input type="text" class="fieldlines w-input" maxlength="256" name="Form1address" data-name="Form 1 Address" placeholder="" id="Form1address" required=""></div>
            </div>
            <div class="inputfieldblock">
              <div class="citywrapper"><label for="Form1city">City *</label><input type="text" class="fieldlines w-input" maxlength="256" name="Form1city" data-name="Form 1 City" placeholder="" id="Form1city" required=""></div>
              <div class="statewrapper"><label for="Form1state">State *</label><input type="text" class="fieldlines w-input" maxlength="256" name="Form1state" data-name="Form 1 State" placeholder="" id="Form1state" required=""></div>
              <div class="zipcodewrapper"><label for="Form1EmailzipCode">Zip Code *</label><input type="text" class="fieldlines w-input" maxlength="256" name="Form1EmailzipCode" data-name="Form 1 Emailzip Code" placeholder="" id="Form1EmailzipCode" required=""></div>
            </div>
            <div class="block5container">
              <div class="servicenwrapper"><label for="Form1ServiceType">Service Needed *</label><select id="Form1ServiceType" name="Form1ServiceType" data-name="Form 1 Service Type" required="" class="inputselect w-select">
                  <option value="First">Stucco Repair</option>
                  <option value="Second">New Stucco</option>
                  <option value="Third">Tex-Cote Removal</option>
                  <option value="Another Choice">Fog Coating</option>
                </select></div>
              <div class="locationtype-2"><label for="Form1locationType">Location Type *</label><select id="Form1locationType" name="Form1locationType" data-name="Form 1 Location Type" required="" class="inputselect w-select">
                  <option value="First">Residential</option>
                  <option value="Second">Commercial</option>
                  <option value="Third">Industrial</option>
                </select></div>
            </div>
            <div class="notescontainer">
              <div class="div-block-39"><label for="Form1additionalInfo" class="field-label">Additional Info</label><textarea data-name="Form 1 Additional Info" maxlength="5000" id="Form1additionalInfo" name="Form1additionalInfo" placeholder="Details of your project" class="inputtextarea w-input"></textarea></div>
            </div><input type="submit" value="Submit" data-wait="Please wait..." class="submit-button-2 w-button">
          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
      <div class="mapcontainer">
        <div class="mapwrapper">
          <h2 class="harborstuccologo">HARBOR<span class="text-span-13"> Stucco</span></h2>
          <p class="paragraph-14">For over ten years, Harbor Stucco has mastered the craft of personalized stucco finish for your residential or commercial projects.<br>‍<br>We provide a wide selection of finishes suited for all your project needs. We&#x27;ll help you prepare, plan and implement your residential or commercial project.<br>‍</p>
          <div data-enable-scroll="true" data-enable-touch="true" data-widget-latlng="" data-widget-tooltip="" data-widget-style="roadmap" data-widget-zoom="12" title="" class="map w-widget w-widget-map"></div><img src="images/service-map.jpg" loading="lazy" sizes="100vw" srcset="images/service-map-p-500.jpeg 500w, images/service-map-p-800.jpeg 800w, images/service-map.jpg 1028w" alt="" class="image-17">
        </div>
      </div>
    </div>
  </section>