<section id="FAQ" class="faq wf-section">
    <div class="container-6 w-container">
      <div class="div-block-44">
        <h2 class="heading-10 faqadjustment">Your Questions Answered</h2>
      </div>
      <section class="faqcontainer">
        <%== display_faq_card() %>
      </section>
    </div>
  </section>