<section id="contact-form" class="contact-form-2 wf-section">
    <div class="container-15 w-container">
      <div class="div-block-30">
        <h2 class="heading-26">Contact Us</h2>
        <p class="paragraph-13">To set up an appointment, please complete the form below. After we receive your information, we will contact you to schedule your appointment within 24 hours.<br><br>Once we schedule your appointment, we will send over a confirmation email. There is no obligation to buy any of our services after receiving your estimate.<br><br> On the day of your appointment, we will meet with you, perform a walkthrough, and discuss your project in greater detail.</p>
        <div id="formInstructions" class="small-text"><em class="italic-text">Fields marked with an asterisk (*) are required.</em></div>
        <div>
          <div netlify="form1" class="w-form">
            <form id="email-form" name="email-form" data-name="Email Form" method="post" class="form">
              <div class="div-block-31">
                <div class="div-block-33"><label for="First-Name" id="contact-first-name">First Name *</label><input type="text" class="text-field-2 w-input" maxlength="256" name="field" data-name="" placeholder="" id="node"></div>
                <div class="div-block-32"><label for="First-Name" id="contact-first-name">Last Name</label><input type="text" class="text-field-3 w-input" maxlength="256" name="Last-Name-2" data-name="Last Name 2" placeholder="" id="Last-Name-2" required=""></div>
              </div>
              <div class="div-block-31">
                <div class="div-block-33"><label for="First-Name" id="contact-first-name">Email *</label><input type="text" class="text-field-2 w-input" maxlength="256" name="field" data-name="" placeholder="" id="node"></div>
                <div class="div-block-32"><label for="First-Name" id="contact-first-name">Phone *</label><input type="text" class="text-field-3 w-input" maxlength="256" name="Last-Name-2" data-name="Last Name 2" placeholder="" id="Last-Name-2" required=""></div>
              </div>
              <div class="div-block-31">
                <div class="div-block-34"><label for="First-Name" id="contact-first-name">Address</label><input type="text" class="text-field-2 w-input" maxlength="256" name="Address-2" data-name="Address 2" placeholder="" id="Address-2" required=""></div>
              </div>
              <div class="div-block-31">
                <div class="div-block-35"><label for="City-4" id="contact-first-name">City *</label><input type="text" class="text-field-2 w-input" maxlength="256" name="City-4" data-name="City 4" placeholder="" id="City-4" required=""></div>
                <div class="div-block-36"><label for="node-3" id="contact-first-name">State *</label><input type="text" class="text-field-2 w-input" maxlength="256" name="field" data-name="" placeholder="" id="node-2" required=""></div>
                <div class="div-block-37"><label for="Zip-Code-3" id="contact-first-name">Zip Code *</label><input type="text" class="text-field-2 w-input" maxlength="256" name="Zip-Code-3" data-name="Zip Code 3" placeholder="" id="Zip-Code-3" required=""></div>
              </div>
              <div class="div-block-38">
                <div class="serviceneeded"><label for="City-5" id="contact-first-name">Service Needed *</label><select id="field-4" name="field-4" data-name="field" class="select-field w-select">
                    <option value="First">Stucco Repair</option>
                    <option value="Second">New Stucco</option>
                    <option value="Third">Tex-Cote Removal</option>
                    <option value="Another Choice">Fog Coating</option>
                  </select></div>
                <div class="locationtype"><label for="City-5" id="contact-first-name">Location Type *</label><select id="field-4" name="field-4" data-name="field" class="select-field w-select">
                    <option value="First">Residential</option>
                    <option value="Second">Commercial</option>
                    <option value="Third">Industrial</option>
                  </select></div>
              </div>
              <div class="notes">
                <div class="div-block-39"><label for="Additional-info-2" id="contact-first-name">Additional Info</label><textarea data-name="Additional Info 2" maxlength="5000" id="Additional-info-2" name="Additional-info-2" placeholder="Details of your project" class="textarea w-input"></textarea></div>
              </div><input type="submit" value="Submit" data-wait="Please wait..." class="submit-button w-button">
            </form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
  </section>