  <div class="centered-container w-container">
    <div class="heroheadline">
      <h1 class="heading-27">
        <%== @headline %>
        <span class="headlinespandesktop">
        <%== @headline_stylized %>
        </span>
      </h1>
      <a href="/estimate" target="_blank" class="mobilemainheadlinebutton w-button">
        <%== @button_text %>
      </a>
    </div>
  </div>