<header id="hero-overlay" class="hero-overlay tablet mobile wf-section">
  <div class="centered-container w-container">
    <div class="heroheadline">
      <h1 class="heading-27">
        Residential &amp; Commercial
        <span class="headlinespandesktop">
          Stucco Repair
        </span>
        Contractors
      </h1>
      <a href="/estimate" target="_blank" class="mobilemainheadlinebutton w-button">Get My Estimate</a>
    </div>
  </div>
</header>
<main>
  <div class="subherosection wf-section">
    <section id="AboutUs" class="div-block">
      <h2 class="subheroheading">
        Your Go-to Stucco Repair Specialists
      </h2>
      <p class="paragraph tabletadjustment">
        For over ten years, Harbor Stucco has mastered the craft of personalized stucco finish for your residential or commercial projects.
      </p>
      <p class="paragraph tabletadjustment">
        We provide a wide selection of finishes suited for all yourproject needs. We&#x27;ll help you prepare, plan and implementyour residential or commercial project.
      </p>
      <p class="paragraph tabletadjustment">
        Our specialized team will work on perfecting your project with ahigh degree of care and quality. Whether you need stucco repairor just want to give your place a &quot;fresh look&quot;, wevegot you covered.
      </p>  
  <!-- begin reviews -->
      <%== yield %>
  <!-- end -->
    </section>
  </div>
  <br>
  <br>

  <section id="cards-section" class="servicesection wf-section">
    <div class="centered-container sectionmobileadjustment w-container">
      <!-- begin services section-->
        <h2 class="stuccoservicesheadline"> Stucco Repair Services</h2>
        <br>
        <h3 class="heading-10">
          Here&#x27;s How We Can Help You With Your Next Project
        </h3>
      <div class="section1">
        <section class="div-block-3">
          <div class="cards-image-mask">
            <img src="images/stucco-repair-services-min.jpg" alt="Repairing stucco aerial shot" class="cards-image">
          </div>
          <h3 class="heading-36">Stucco Repair</h3>
          <p class="paragraph-6">
            Stucco is one of the most robust materials on the market. But due to its rigid nature, stucco can develop cracks and holes over time due to sediment and surface damage.
          <p class="paragraph-6">
            When a crack or hole appears, it is necessary to take prompt action before any more damage can occur and further penetrate the surface area.
          </p>
          <p class="paragraph-6">
            You can try to repair cracks yourself but the money you save in the short term will cost you in the long run if you improperly repair your stucco. The future repairs costs can potentially run into the thousands.
          </p>
          <p class="paragraph-6">
            Harbor Stucco employs a team of stucco repair specialists todo the job right. Leave it to us to inspect and repair yourproperty. You&#x27;ll be glad you did.
          </p>
          <div class="servicebuttonwrapper">
            <a href="/stuccorepair" target="_blank" class="button w-button">Learn More
            </a>
          </div>
        </section>
        <section class="div-block-3">
          <div class="cards-image-mask">
            <img src="images/re-stucco-service.jpg" alt="Man Repairing Stucco" class="cards-image">
          </div>
          <h3 class="heading-36">Re-Stucco</h3>
          <p class="paragraph-6">
            Stucco is a common finishing material used in residential and commercial construction for interior and exterior applications. When properly applied, it&#x27;s documented to last for 50 years or more.
          <p class="paragraph-6">
            However, over time, you may want to change your home&#x27;s look and feel, or you may find that the original stucco needs to be re-colored due to cracking or fading.
          </p>
          <p class="paragraph-6">
            This is where we come in. We offer professional re-stucco services to liven up your home and make it more attractive.  We offer the latest colors and finishing techniques for your specific needs.
          </p>
          <div class="servicebuttonwrapper">
            <a href="/re-stucco" class="button w-button">Learn More</a>
          </div>
        </section>  
      </div>
      <div class="centered-container sectionmobileadjustment w-container">
      <div class="section1">
        <section class="div-block-3">
          <div class="cards-image-mask">
            <img src="images/tex-cote-removal.jpg" alt="Tex-Cote peeled wall" class="cards-image">
          </div>
          <h3 class="heading-36">Tex-Cote Removal</h3>
          <p class="paragraph-6">
            Tex-Cote is an outer coating that provides structure to the surface to which it is applied. It is sometimes referred to as the ideal choice for keeping a weather-proof house.
          </p>
          <p class="paragraph-6">
            Unfortunately, with enough time, you may begin to see peeling, cracking, and flaking. This is usually a symptom of improperly applied Tex-Cote or plain age.
          </p>
          <p class="paragraph-6">
            Are significant areas of your textured walls crumbling away?
          </p>
          <p class="paragraph-6">
            If so, we can help you diagnose the problem. But don&#x27;t delay; Tex-Cote peeling &amp; flaking can quickly become a nightmare in repairs and costs.
          </p>
          <div class="servicebuttonwrapper">
            <a href="/tex-cote-removal" target="_blank" class="button w-button">Learn More</a>
          </div>
        </section>
        <section class="div-block-3">
          <div class="cards-image-mask">
            <img src="images/fogging.jpg" sizes="(max-width: 479px) 100vw, (max-width: 767px) 60vw, (max-width: 991px) 47vw, 35vw" srcset="images/fogging-p-500.jpeg 500w, images/fogging.jpg 800w" alt="Fog coat before &amp; after texture" class="cards-image">
          </div>
          <h3 class="heading-36">Fog Coating</h3>
          <p class="paragraph-6">
            When it comes to different kinds of cement-coated foam treatments, Harbor Stucco has you covered.
          </p>
          <p class="paragraph-6">
            Harbor Stucco provides a broad selection of cement-coated foam treatments for any of your project needs. Custom architectural foam designs can be ordered and mounted as decorative features on the outside of your home.
          </p>
          <p class="paragraph-6">
            We install all kinds of elegant window trims, door trims, window sills, columns, keystones, quoins, and medallions.
          </p>
          <div class="servicebuttonwrapper">
            <a href="/fog-coat" class="button w-button">Learn More</a>
          </div>
        </section>
      </div>
      <section class="section1 section2">
        <div class="div-block-2">
          <div class="cards-image-mask-bottom mobilelandscapepatchingimageadjustment"><img src="images/re-stucco-service1.jpg" sizes="(max-width: 479px) 100vw, (max-width: 767px) 60vw, (max-width: 991px) 58vw, 44vw" srcset="images/re-stucco-service1-p-500.jpeg 500w, images/re-stucco-service1.jpg 2017w" alt="Man patching wall" class="cards-image stuccopatchingimage"></div>
          <h3 class="heading-36">Stucco Patching</h3>
          <p class="paragraphstucopatching centertext">
            If stucco patching is the service you need today, Harbor Stucco provides a broad selection of cement-coated foam treatments for any of your project needs.
          </p>
          <p class="paragraphstucopatching centertext">
            Ask about our custom architectural foam designs. They can be ordered and mounted as decorative features on the outside of your home.
          </p>
          <div class="servicebuttonwrapper centerbutton">
            <a href="/stuccorepair" class="button stuccopatchingbuttonadjustment w-button">Learn More</a>
          </div>
        </div>
      </section>
      <!-- end services section-->
    </div>
  </section>
  
    <!-- call to action section -->
    <%== load_cta %>
    <!-- end -->
  <section id="FAQ" class="faq wf-section">
    <div class="container-6 w-container">
      <div class="div-block-44">
        <h3 class="heading-10 faqadjustment">Your Questions Answered</h3>
      </div>
      <div class="faqcontainer">
        <div class="div-block-41">
          <h3 class="heading-28">How long does stucco last?</h3>
          <div class="faqdivider"></div>
          <p class="paragraph-15">Stucco repair is a very sturdy and beautiful exterior finish, with an average life cycle of 50-80 years or more. Stucco boast&#x27;s the lowest average repair rates relative to other siding materials. While it&#x27;s one of the most resilient surfaces available, keep in mind that your stucco job will require a maintenance schedule to keep its fantastic look and stop the risks of developing hairline cracks that might become an issue down the line. Ideally, stucco should be painted every 5 to 10 years to retain its luster.</p>
        </div>
        <div class="div-block-41">
          <h3 class="heading-28">Can you put new stucco over old stucco?</h3>
          <div class="faqdivider"></div>
          <p class="paragraph-15">New stucco may be added over the old one, as long as the necessary steps to ensure the new layer&#x27;s stability are taken. You&#x27;ll first need to test your substrate base and exterior finish&#x27;s structural integrity. Then determine the best approach for the job. <br>Call Now For a Free Estimate.</p>
        </div>
        <div class="div-block-41">
          <h3 class="heading-28">How can I change the color of my homes stucco?</h3>
          <div class="faqdivider"></div>
          <p class="paragraph-15">Cement-based color coats are by far the most widely used exterior finish materials. LaHabra Stucco is the largest supplier of stucco color products in the Nation. Their pigments are pre-mixed into every stucco bag. Colored cement-based stucco is explicitly intended for cement substrate following proper preparation procedures.</p>
        </div>
        <div class="buttoncontainer faq">
          <a href="#" class="button w-button">See More</a>
        </div>
      </div>
    </div>
  </section>
  <div class="texturessection wf-section">
    <div class="div-block-12">
      <h2 class="heading-34">StuccoTextures</h2>
      <h3 class="heading-25">Your Finishing options</h3>
      <p class="stucco-texture">When tasked with picking one of the various <strong class="bold-text">stucco texture</strong> finishing options, homeowners have no idea what options are available. <br><br>There are various stucco textures to choose from, each with its unique character. Some are best used for commercial projects, while others are best for sophisticated urban homes. Stucco texture offers a sense of individuality that will undoubtedly allow you to stand out in a sea of sameness.<br><br>To help you choose the right stucco texture, here are several of the most popular options, Click to learn more.<br><br></p>
    </div>
    <div class="container w-container">
      <div class="div-block-8">
        <div class="row1">
          <div class="div-block-9">
            <h4 class="heading-24">SMOOTH FINISH</h4><img src="images/smooth-finish.png" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 33vw, (max-width: 991px) 160px, 234px" srcset="images/smooth-finish-p-500.png 500w, images/smooth-finish.png 676w" alt="Smooth finish" class="image-4">
          </div>
          <div class="div-block-9">
            <h4 class="heading-24">SANTA BARBARA</h4><img src="images/monterey-finish.jpg" loading="lazy" alt="Santa Barbara finish" class="image-4">
          </div>
          <div class="div-block-9 mobiletexturehide">
            <h4 class="heading-24">ARIZONA FINISH</h4><img src="images/arizona-finish.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 160px, 234px" srcset="images/arizona-finish-p-500.png 500w, images/arizona-finish.png 677w" alt="Arizona finish" class="image-4">
          </div>
        </div>
        <div class="row2">
          <div data-w-id="7074e3d7-a179-90ec-3eca-2e070dac3d6a" class="div-block-9">
            <h4 class="heading-24">CAT FACE</h4><img src="images/cat-face.png" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 33vw, (max-width: 991px) 160px, 234px" srcset="images/cat-face-p-500.png 500w, images/cat-face.png 677w" alt="Cat face finish" class="image-4">
          </div>
          <div class="div-block-9">
            <h4 class="heading-24">MONTEREY</h4><img src="images/monterey-finish-2.png" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 33vw, (max-width: 991px) 160px, 234px" srcset="images/monterey-finish-2-p-500.png 500w, images/monterey-finish-2.png 677w" alt="Monterey finish" class="image-4">
          </div>
          <div class="div-block-9 mobiletexturehide">
            <h4 class="heading-24">TROWEL SWEEP</h4><img src="images/trowel-sweep-stucco-finish.jpg" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 160px, 234px" srcset="images/trowel-sweep-stucco-finish-p-500.jpeg 500w, images/trowel-sweep-stucco-finish.jpg 677w" alt="Trowel Sweep Texture" class="image-4">
          </div>
        </div>
        <div class="row3">
          <div class="div-block-9">
            <h4 class="heading-24">SPANISH FINISH</h4><img src="images/spanish-finish-2-min.png" loading="lazy" srcset="images/spanish-finish-2-min-p-500.png 500w, images/spanish-finish-2-min.png 677w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 33vw, (max-width: 991px) 160px, 234px" alt="Spanish Finish" class="image-4">
          </div>
          <div class="div-block-9">
            <h4 class="heading-24">FINE SAND</h4><img src="images/fine-sand-finish.jpg" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 33vw, (max-width: 991px) 160px, 234px" srcset="images/fine-sand-finish-p-500.jpeg 500w, images/fine-sand-finish.jpg 677w" alt="Fine Sand finish" class="image-4">
          </div>
          <div class="div-block-9 mobiletexturehide">
            <h4 class="heading-24">English Finish</h4><img src="images/english-stucco-finish2.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 160px, 234px" srcset="images/english-stucco-finish2-p-500.png 500w, images/english-stucco-finish2.png 677w" alt="English Finish" class="image-4">
          </div>
        </div>
        <div class="buttoncontainer">
          <a href="/stuccorepair" target="_blank" class="button w-button">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="close wf-section">
    <div data-w-id="7a2acd72-a9a9-b0b0-c880-be9ce10c3aff" style="opacity:0" class="container-5 w-container">
      <h2 class="bottomctadesktop"><span class="text-span-18">Ready To Get Your</span> <br>Project Started?</h2>
      <h2 class="heading-23"><span class="text-span-18">Ready To Get Your</span> <br>Project Started?</h2>
      <a href="/estimate" target="_blank" class="button-2 bottomadjustment w-button">Get My Estimate</a>
    </div>
  </div>
</main>