  <section id="cards-section" class="servicesection wf-section">
    <div class="centered-container sectionmobileadjustment w-container">
        <h2 class="stuccoservicesheadline"> Stucco Repair Services</h2>
        <br>
        <h3 class="heading-10">
          Here&#x27;s How We Can Help You With Your Next Project
        </h3>
      <div class="section1">
        <section class="div-block-3">
          <div class="cards-image-mask">
            <img src="images/stucco-repair-services-min.jpg" alt="Repairing stucco aerial shot" class="cards-image">
          </div>
          <h3 class="heading-36">Stucco Repair</h3>
          <p class="paragraph-6">
            Stucco is one of the most robust materials on the market. But due to its rigid nature, stucco can develop cracks and holes over time due to sediment and surface damage.
          <p class="paragraph-6">
            When a crack or hole appears, it is necessary to take prompt action before any more damage can occur and further penetrate the surface area.
          </p>
          <p class="paragraph-6">
            You can try to repair cracks yourself but the money you save in the short term will cost you in the long run if you improperly repair your stucco. The future repairs costs can potentially run into the thousands.
          </p>
          <p class="paragraph-6">
            Harbor Stucco employs a team of stucco repair specialists todo the job right. Leave it to us to inspect and repair yourproperty. You&#x27;ll be glad you did.
          </p>
          <div class="servicebuttonwrapper">
            <a href="/stuccorepair" target="_blank" class="button w-button">Learn More
            </a>
          </div>
        </section>
        <section class="div-block-3">
          <div class="cards-image-mask">
            <img src="images/re-stucco-service.jpg" alt="Man Repairing Stucco" class="cards-image">
          </div>
          <h3 class="heading-36">Re-Stucco</h3>
          <p class="paragraph-6">
            Stucco is a common finishing material used in residential and commercial construction for interior and exterior applications. When properly applied, it&#x27;s documented to last for 50 years or more.
          <p class="paragraph-6">
            However, over time, you may want to change your home&#x27;s look and feel, or you may find that the original stucco needs to be re-colored due to cracking or fading.
          </p>
          <p class="paragraph-6">
            This is where we come in. We offer professional re-stucco services to liven up your home and make it more attractive.  We offer the latest colors and finishing techniques for your specific needs.
          </p>
          <div class="servicebuttonwrapper">
            <a href="/re-stucco" class="button w-button">Learn More</a>
          </div>
        </section>  
      </div>
      <div class="centered-container sectionmobileadjustment w-container">
      <div class="section1">
        <section class="div-block-3">
          <div class="cards-image-mask">
            <img src="images/tex-cote-removal.jpg" alt="Tex-Cote peeled wall" class="cards-image">
          </div>
          <h3 class="heading-36">Tex-Cote Removal</h3>
          <p class="paragraph-6">
            Tex-Cote is an outer coating that provides structure to the surface to which it is applied. It is sometimes referred to as the ideal choice for keeping a weather-proof house.
          </p>
          <p class="paragraph-6">
            Unfortunately, with enough time, you may begin to see peeling, cracking, and flaking. This is usually a symptom of improperly applied Tex-Cote or plain age.
          </p>
          <p class="paragraph-6">
            Are significant areas of your textured walls crumbling away?
          </p>
          <p class="paragraph-6">
            If so, we can help you diagnose the problem. But don&#x27;t delay; Tex-Cote peeling &amp; flaking can quickly become a nightmare in repairs and costs.
          </p>
          <div class="servicebuttonwrapper">
            <a href="/tex-cote-removal" target="_blank" class="button w-button">Learn More</a>
          </div>
        </section>
        <section class="div-block-3">
          <div class="cards-image-mask">
            <img src="images/fogging.jpg" sizes="(max-width: 479px) 100vw, (max-width: 767px) 60vw, (max-width: 991px) 47vw, 35vw" srcset="images/fogging-p-500.jpeg 500w, images/fogging.jpg 800w" alt="Fog coat before &amp; after texture" class="cards-image">
          </div>
          <h3 class="heading-36">Fog Coating</h3>
          <p class="paragraph-6">
            When it comes to different kinds of cement-coated foam treatments, Harbor Stucco has you covered.
          </p>
          <p class="paragraph-6">
            Harbor Stucco provides a broad selection of cement-coated foam treatments for any of your project needs. Custom architectural foam designs can be ordered and mounted as decorative features on the outside of your home.
          </p>
          <p class="paragraph-6">
            We install all kinds of elegant window trims, door trims, window sills, columns, keystones, quoins, and medallions.
          </p>
          <div class="servicebuttonwrapper">
            <a href="/fog-coat" class="button w-button">Learn More</a>
          </div>
        </section>
      </div>
      <section class="section1 section2">
        <div class="div-block-2">
          <div class="cards-image-mask-bottom mobilelandscapepatchingimageadjustment"><img src="images/re-stucco-service1.jpg" sizes="(max-width: 479px) 100vw, (max-width: 767px) 60vw, (max-width: 991px) 58vw, 44vw" srcset="images/re-stucco-service1-p-500.jpeg 500w, images/re-stucco-service1.jpg 2017w" alt="Man patching wall" class="cards-image stuccopatchingimage"></div>
          <h3 class="heading-36">Stucco Patching</h3>
          <p class="paragraphstucopatching centertext">
            If stucco patching is the service you need today, Harbor Stucco provides a broad selection of cement-coated foam treatments for any of your project needs.
          </p>
          <p class="paragraphstucopatching centertext">
            Ask about our custom architectural foam designs. They can be ordered and mounted as decorative features on the outside of your home.
          </p>
          <div class="servicebuttonwrapper centerbutton">
            <a href="/stuccorepair" class="button stuccopatchingbuttonadjustment w-button">Learn More</a>
          </div>
        </div>
      </section>
    </div>
  </section>