<main id="main-content" class="main-content wf-section">
    <div class="container-14 w-container">
      <h1 class="heading-21">Exterior Stucco <span class="text-span-10">Services</span></h1><img src="images/stucco-renovation-mini_1.jpg" loading="lazy" width="995" sizes="(max-width: 767px) 67vw, (max-width: 991px) 509.59375px, 705px" alt="Residential Stucco Repair Services" srcset="images/stucco-renovation-mini_1-p-500.jpeg 500w, images/stucco-renovation-mini_1-p-800.jpeg 800w, images/stucco-renovation-mini_1.jpg 1429w" class="serviceimage">
      <div class="stuccorepaircontent w-richtext">
        <h2>Commercial &amp; Residential Stucco Repair</h2>
        <p>Cracks in stucco often happen due to water penetration, floods, or physical forces. But they can also occur for a variety of different reasons, such as:</p>
        <br>
        <br>
        <ul role="list">
          <li><strong>Wrong mix proportions</strong></li>
          <li><strong>Insufficient mixing</strong></li>
          <li><strong>Poor workmanship</strong></li>
          <li><strong>Seismic movement</strong></li>
          <li><strong>Seasonal changes</strong></li>
          <li><strong>Environmental factors (rocks, baseballs, etc.)</strong></li>
          <li><strong>The house settling process </strong></li>
          <li><strong>Shrinkage-induced stresses</strong></li>
        </ul>
        <br>
        <br>
        
        <h3>Types of stucco damage</h3>
        <p>Cracks from environmental sources cause micro-fractures that may not be immediately visible. But they can slowly develop into structural damage over time. Structural damage can cause water to spill through and compress and expand the wall when exposed to different temperatures.</p>
        <br>
        <br>
        <h4>‍<strong>Structural damage</strong></h4>
        <p>The most apparent structural damage types come from vehicle impact, massive hailstones, fire, and even floods. They all undermine stuccos structural integrity to a point where repairs are required.</p>
        <br>
        <br>
        <h4><strong>Poor workmanship</strong></h4>
        <p>These types of cracks often develop during the construction period. It&#x27;s essential to check your stucco walls post-construction period thoroughly. Harbor Stucco<strong> </strong>follows all manufacturing standards. We have an inspection period to ensure the settling and curing periods are up to par.</p>
        <br><br>
        <h3>Different forms of stucco cracks </h3>
        <p>We&#x27;ve listed the different forms of stucco cracks that tend to occur. They happen for many reasons, but they&#x27;re going to tell you how you can repair stucco cracks.</p>
        <br>
        <br>
        <h4><strong>Pattern Cracking:</strong></h4>
        <figure style="max-width:" class="w-richtext-align-normal w-richtext-figure-type-image">
          <div><img src="images/pattern-cracking.jpg" loading="lazy" alt="Pattern Cracking"></div>
        </figure>
        <p>If you see cracking that fits a similar pattern. Most of the time, it appears like a grid of horizontal and vertical lines. This cracking occurs if there were issues with the lath when mounted. It was likely not nailed, which raises the chances it will lead to even more cracks in the future. Because of this, you need to hire the right contractors when in need of stucco repair.</p>
        <br>
        <br>
        <h4><strong>Spider Web Cracks</strong></h4>
        <figure style="max-width:" class="w-richtext-align-normal w-richtext-figure-type-image">
          <div><img src="images/spiderweb-cracks.jpg" loading="lazy" width="191" alt="Spider Web Cracks"></div>
        </figure>
        <p>These cracks throughout your stucco wall look like spider webs.  If you see this in your stucco, it&#x27;s a sign that the contractors failed to cure your stucco base coat.</p>
        <br>
        <br>
        <h4><strong>Hairline Cracks:</strong></h4>
        <figure style="max-width:" class="w-richtext-align-normal w-richtext-figure-type-image">
          <div><img src="images/hairline-cracks.jpg" loading="lazy" alt="Hairline Cracks"></div>
        </figure>
        <p>These cracks tend to be thin, usually about 1/16 inch wide or shorter. They will be the most frequent form of cracks you&#x27;ll discover. Usually, in new homes and buildings, plaster settles and shifts during construction. Stucco shrinks as it hardens and gains strength. This shrinkage, when restrained, can create hairline cracks.</p>
        <br>
        <br>
        <h4><strong>Foam Trim Cracks:</strong></h4>
        <figure style="max-width:" class="w-richtext-align-normal w-richtext-figure-type-image">
          <div><img src="images/foam-trim-crack.jpg" loading="lazy" alt="Foam Trim Cracks"></div>
        </figure>
        <p>Foam trims will often develop cracks when fiberglass mesh tape is not used upon installation. Cracking here indicates poor workmanship. The main concern with this type of damage is that it will lead to expansion and shrinkage of the surface area, allowing for cracks to develop over time.</p>
        <br>
        <br>
        <h4><strong>Diagonal Cracking:</strong></h4>
        <figure style="max-width:" class="w-richtext-align-normal w-richtext-figure-type-image">
          <div><img src="images/diagonal-cracking.png" loading="lazy" alt="Diagonal Cracking"></div>
        </figure>
        <p>As the name suggests, these cracks are diagonal and can found near windows and doors. These cracks tend to occur because of seismic shifts in the foundation.</p>
        <br>
        <br>
        <h4><strong>The Bottom Line</strong></h4>
        <p>Repairing and patching stucco is a highly specialized, labor-intensive process that requires both training and experience. Harbor Stucco has extensive expertise in identifying and repairing a wide range of stucco issues, and we complete every project in line with strict manufacturer standards.</p>
        <h3>Repairing Stucco</h3>
        <p>There are as many ways to repair stucco as there are different types of stucco cracks. But generally speaking, these are the most common stucco repair methods used.</p>
        <ol start="" role="list">
          <li>Apply caulking into the crack </li>
          <li>Mesh over cracks</li>
          <li>Entire wall reapplication along with recoat and finish coat</li>
        </ol>
        <p>‍</p>
        <blockquote><em>&quot;What happens if I don&#x27;t repair my stucco?&quot;</em></blockquote>
        <p>Like any other issue, if left unattended, before long, it has the potential to turn into a much bigger and expensive problem to fix.</p>
        <p>So the simple answer is, as soon as you can.</p>
        <p>It is wise to attend to even the most minute cracks right away; small cracks can develop into bigger ones over time, usually because they are not noticed.</p>
        <p>Medium cracks can also turn into nightmares. Water could get in and cause mold and moisture problems. They&#x27;re hard to fix if you don&#x27;t find them in time. The sooner the cracks are repaired, the less likely they will cause significant problems in the future.</p>
        <p>‍</p>
        <blockquote><em>&quot;When do I have no option but to call a professional?&quot;</em></blockquote>
        <p>If you notice pattern cracks, the underlying lath is damaged and in need of repair. Many try to attempt to do this themselves, especially if the damage appears to be minimal. Call a professional to inspect severe structural damage. Harbor Stucco will repair it according to industry standards.</p>
        <p>If you notice wide or diagonal cracks, there is likely a problem with your house&#x27;s foundation. Usually, it&#x27;s caused by seismic shifts. </p>
        <p>In such cases, it is best to call Harbor Stucco. We will first deal with your home or building&#x27;s structural problem. Then do the exterior repair. If you avoid this, you&#x27;re going to continue to develop more cracks over time. Cracks have the potential to get water into them, which can turn into a health hazard if mold grows.</p>
      </div>
    </div>
  </main>
  <div class="calltoactionsection wf-section">
    <div class="container-4 adjustmentcta w-container">
      <div class="div-block-14">
        <h2 class="heading-32">Get An Estimate</h2>
        <h2 class="ctatoday">Today</h2>
        <p class="paragraph-11"><br>In need of<strong> Stucco Repair?</strong> Call Us and get a free estimate today. Harbor Stucco provides trusted construction and remodeling options for homeowners and business owners alike. Our team of professionals is committed to working with you to make your project a success. We will ensure the swift and solid construction of any project.<br>‍<br>Pick up the phone and make an appointment for a free estimate or fill out the form below. We look forward to hearing from you.</p>
        <a href="tel:(562)384-2575" acf:text="phone" class="ctaphone"><span class="text-span-17">(562)384-2575</span></a>
        <a acf:text="CTA Button-text" href="/estimate" target="_blank" class="button-2 cta w-button">Schedule Your Estimate</a>
      </div>
    </div>
  </div>
  <section id="contact-form" class="contact-form-2 wf-section">
    <div class="container-15 w-container">
      <div class="div-block-30">
        <h2 class="heading-26">Contact Us</h2>
        <p class="paragraph-13">To set up an appointment, please complete the form below. After we receive your information, we will contact you to schedule your appointment within 24 hours.<br><br>Once we schedule your appointment, we will send over a confirmation email. There is no obligation to buy any of our services after receiving your estimate.<br><br> On the day of your appointment, we will meet with you, perform a walkthrough, and discuss your project in greater detail.</p>
        <div id="formInstructions" class="small-text"><em class="italic-text">Fields marked with an asterisk (*) are required.</em></div>
        <div>
          <div netlify="form1" class="w-form">
            <form id="email-form" name="email-form" data-name="Email Form" method="post" class="form">
              <div class="div-block-31">
                <div class="div-block-33"><label for="First-Name" id="contact-first-name">First Name *</label><input type="text" class="text-field-2 w-input" maxlength="256" name="field" data-name="" placeholder="" id="node"></div>
                <div class="div-block-32"><label for="First-Name" id="contact-first-name">Last Name</label><input type="text" class="text-field-3 w-input" maxlength="256" name="Last-Name-2" data-name="Last Name 2" placeholder="" id="Last-Name-2" required=""></div>
              </div>
              <div class="div-block-31">
                <div class="div-block-33"><label for="First-Name" id="contact-first-name">Email *</label><input type="text" class="text-field-2 w-input" maxlength="256" name="field" data-name="" placeholder="" id="node"></div>
                <div class="div-block-32"><label for="First-Name" id="contact-first-name">Phone *</label><input type="text" class="text-field-3 w-input" maxlength="256" name="Last-Name-2" data-name="Last Name 2" placeholder="" id="Last-Name-2" required=""></div>
              </div>
              <div class="div-block-31">
                <div class="div-block-34"><label for="First-Name" id="contact-first-name">Address</label><input type="text" class="text-field-2 w-input" maxlength="256" name="Address-2" data-name="Address 2" placeholder="" id="Address-2" required=""></div>
              </div>
              <div class="div-block-31">
                <div class="div-block-35"><label for="City-4" id="contact-first-name">City *</label><input type="text" class="text-field-2 w-input" maxlength="256" name="City-4" data-name="City 4" placeholder="" id="City-4" required=""></div>
                <div class="div-block-36"><label for="node-3" id="contact-first-name">State *</label><input type="text" class="text-field-2 w-input" maxlength="256" name="field" data-name="" placeholder="" id="node-2" required=""></div>
                <div class="div-block-37"><label for="Zip-Code-3" id="contact-first-name">Zip Code *</label><input type="text" class="text-field-2 w-input" maxlength="256" name="Zip-Code-3" data-name="Zip Code 3" placeholder="" id="Zip-Code-3" required=""></div>
              </div>
              <div class="div-block-38">
                <div class="serviceneeded"><label for="City-5" id="contact-first-name">Service Needed *</label><select id="field-4" name="field-4" data-name="field" class="select-field w-select">
                    <option value="First">Stucco Repair</option>
                    <option value="Second">New Stucco</option>
                    <option value="Third">Tex-Cote Removal</option>
                    <option value="Another Choice">Fog Coating</option>
                  </select></div>
                <div class="locationtype"><label for="City-5" id="contact-first-name">Location Type *</label><select id="field-4" name="field-4" data-name="field" class="select-field w-select">
                    <option value="First">Residential</option>
                    <option value="Second">Commercial</option>
                    <option value="Third">Industrial</option>
                  </select></div>
              </div>
              <div class="notes">
                <div class="div-block-39"><label for="Additional-info-2" id="contact-first-name">Additional Info</label><textarea data-name="Additional Info 2" maxlength="5000" id="Additional-info-2" name="Additional-info-2" placeholder="Details of your project" class="textarea w-input"></textarea></div>
              </div><input type="submit" value="Submit" data-wait="Please wait..." class="submit-button w-button">
            </form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="mapcontainer">
        <div class="mapwrapper">
          <h2 class="harborstuccologo">HARBOR<span class="text-span-13"> Stucco</span></h2>
          <p class="paragraph-14">For over ten years <b>Harbor Stucco</b> has mastered the craft of personalized stucco repair for both residential or commercial projects. We provide a wide selection of finishes suited for all your project needs. We&#x27;ll help you prepare, plan and implement your residential or commercial project.<br>‍</p>
          <div data-enable-scroll="true" data-enable-touch="true" data-widget-latlng="" data-widget-tooltip="" data-widget-style="roadmap" data-widget-zoom="12" title="" class="map w-widget w-widget-map"></div><img src="images/service-map.jpg" loading="lazy" sizes="100vw" srcset="images/service-map-p-500.jpeg 500w, images/service-map-p-800.jpeg 800w, images/service-map.jpg 1028w" alt="" class="image-17">
        </div>
      </div>
    </div>
  </section>