<section class="texturessection wf-section">
  <header class="div-block">
    <h2 class="heading-34"><%== @headline %></h2>
<% to_p(@content) do |paragraph| %>
    <p class="paragraph tabletadjustment"><%== paragraph %></p>
<% end %>
  </header>
  <!-- texture finishes -->
  <div class="container w-container">
    <div class="div-block-8">
      <% display_finishes() do |row|  %>
        <div class="row1">
          <%== row.join %>
        </div>
      <% end %>
    </div>
  <!-- end textures -->
  </div>
</section>