  <header class="div-block">
    <h2 class="heading-34">Stucco Texture Finishing options</h2>
    <p class="paragraph tabletadjustment">
      <%== @paragraph_1 %>
    </p>
    <p class="paragraph tabletadjustment">
      <%== @paragraph_2 %>
    </p>
    <p class="paragraph tabletadjustment">
      <%== @paragraph_3 %>
    </p>
  </header>
  <!-- texture finishes -->
  <div class="container w-container">
    <div class="div-block-8">
      <% display_finishes() do |row|  %>
        <div class="row1">
          <%== row.join %>
        </div>
      <% end %>
    </div>
  <!-- end textures -->
  </div>