<section>
  <div class="reviews w-container">
    <div class="div-block-11">
      <h3 class="heading-9 mobilesubadjustment">Reviews From Dozens Of Satisfied Customers</h3>
    </div>
  </div>
  <div data-delay="4000" data-animation="slide" class="slider-2 w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
    <div class="maskdesktop w-slider-mask">
      <div class="slide-4 w-slide">
        <div class="imgwrapper"><img src="images/los-angeles-home.jpg" loading="lazy" alt="Re-Stucco Two Story Home In Los Angeles " height="" sizes="(max-width: 991px) 100vw, 30vw" srcset="images/los-angeles-home-p-500.jpeg 500w, images/los-angeles-home.jpg 1200w" class="image-2"><img src="images/stucco-home2-slider2_1.jpg" loading="lazy" height="" alt="Smooth Stucco Finish " width="590" srcset="images/stucco-home2-slider2_1-p-500.jpeg 500w, images/stucco-home2-slider2_1.jpg 1200w" sizes="(max-width: 991px) 100vw, 30vw" class="image-2"><img src="images/arizona-finish-min.jpg" loading="lazy" alt="Dash Stucco Finish" height="" class="image-2"></div>
        <div class="contentcontainer">
          <div class="trstimonialwrapper2">
            <h4 class="testimonialheading">Aug, 2020 Michael Sanders</h4>
            <p class="testimonialcontent">&quot;I requested a quote from Harbor Stucco for my home. Extremely professional, on time, and advised me about the process of stucco application. It&#x27;s a good group of people to represent Southbay.&quot;</p>
          </div>
          <div class="trstimonialwrapper2">
            <h4 class="testimonialheading">Aug, 2019 Brent Turner</h4>
            <p class="testimonialcontent">&quot;Our house was re-stuccoed by Harbor Stucco. They assisted us in making the best decisions for maintaining our home&#x27;s historical yet contemporary look.<br> We couldn&#x27;t be more pleased with the end result! We highly recommend Harbor Stucco.&quot;</p>
          </div>
          <div class="trstimonialwrapper2">
            <h4 class="testimonialheading">May, 2020 Patrick Garrity</h4>
            <p class="testimonialcontent">Excellent and transparent customer service. I&#x27;ve had other consultations with firms that specialize in hard sales. My experience with Harbor Stucco&#x27;s service and staff was fantastic and exceeded my expectations! I highly recommend them.</p>
          </div>
        </div>
        <div class="container-2 w-container">
          <div class="testimonialcontent"><img src="images/testimonialimage1.jpg" loading="lazy" width="590" sizes="100vw" srcset="images/testimonialimage1-p-500.jpeg 500w, images/testimonialimage1-p-1080.jpeg 1080w, images/testimonialimage1.jpg 1200w" alt="" class="image-2 midadjustment">
            <div class="trstimonialwrapper1">
              <h4 acf:text="Testimonial-Heading 1" class="testimonialheading">Jan 21, 2020 Fred Steel</h4>
              <p acf:text="Testimonial-Paragraph 1" class="testimonialcontent">“Harbor Stucco provided an astounding service for my home. From sandblasting to remove old stucco to the perfectly executed smooth finish. I highly would recommend Harbor Stucco to anyone in need of stucco services.</p>
            </div>
          </div>
          <div class="testimonialcontent"><img src="images/stucco-home2-slider2.jpg" loading="lazy" width="590" sizes="100vw" srcset="images/stucco-home2-slider2-p-500.jpeg 500w, images/stucco-home2-slider2-p-800.jpeg 800w, images/stucco-home2-slider2-p-1080.jpeg 1080w, images/stucco-home2-slider2.jpg 1200w" alt="New Stucco On Customer Home" class="image-2 midadjustment">
            <div class="trstimonialwrapper2">
              <h4 acf:text="Testimonial-Heading 2" class="testimonialheading">Jan 21, 2020 <span class="text-span-25">Fred Steel</span></h4>
              <p acf:text="Testimonial-Paragraph 2" bind="58f86ff6-74f5-8c93-e6f1-19bcf4757e9c" class="testimonialcontent">We provide a wide selection of finishes suited for all your project needs. We&#x27;ll help you prepare, plan and implement your residential or commercial project.<br>Our specialized team will work on perfecting your project with a high degree of care and quality. Whether you need stucco repair or just want to give your place a &quot;fresh look&quot;, weve got you covered.</p>
            </div>
          </div>
          <div class="testimonialcontent"><img src="images/testimonialimage3.jpg" loading="lazy" width="590" sizes="100vw" srcset="images/testimonialimage3-p-500.jpeg 500w, images/testimonialimage3-p-1080.jpeg 1080w, images/testimonialimage3.jpg 1200w" alt="Fog Coat Of Home" class="image-2 midadjustment">
            <div class="trstimonialwrapper3">
              <h4 acf:text="Testimonial-Heading 3" class="testimonialheading">Jan 21, 2020 Fred Steel</h4>
              <p acf:text="Testimonial-Paragraph 3" class="testimonialcontent">“Harbor Stucco provided an astounding service for my home. From sandblasting to remove old stucco to the perfectly executed smooth finish. I highly would recommend Harbor Stucco to anyone in need of stucco services.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-5 w-slide">
        <div class="container-2 w-container">
          <div class="testimonialcontent"><img src="images/stucco-home1-slider2.jpg" loading="lazy" width="590" sizes="100vw" srcset="images/stucco-home1-slider2-p-500.jpeg 500w, images/stucco-home1-slider2-p-800.jpeg 800w, images/stucco-home1-slider2-p-1080.jpeg 1080w, images/stucco-home1-slider2.jpg 1200w" alt="Brand New Stucco on Home" class="image-2 midadjustment">
            <div class="div-block-47">
              <h4 acf:text="Testimonial-Heading 4" class="testimonialheading">Jan 21, 2020 Fred Steel</h4>
              <p acf:text="Testimonial-Paragraph 4" class="testimonialcontent">“Harbor Stucco provided an astounding service for my home. From sandblasting to remove old stucco to the perfectly executed smooth finish. I highly would recommend Harbor Stucco to anyone in need of stucco services.</p>
            </div>
          </div>
          <div class="testimonialcontent"><img src="images/testimonialimage2.jpg" loading="lazy" width="590" sizes="100vw" srcset="images/testimonialimage2-p-500.jpeg 500w, images/testimonialimage2-p-800.jpeg 800w, images/testimonialimage2-p-1080.jpeg 1080w, images/testimonialimage2.jpg 1200w" alt="New Stucco On Home" class="image-2 midadjustment">
            <div class="div-block-47">
              <h4 acf:text="Testimonial-Heading 5" class="testimonialheading">Jan 21, 2020 Fred Steel</h4>
              <p acf:text="Testimonial-Paragraph 5" class="testimonialcontent">“Harbor Stucco provided an astounding service for my home. From sandblasting to remove old stucco to the perfectly executed smooth finish. I highly would recommend Harbor Stucco to anyone in need of stucco services.</p>
            </div>
          </div>
          <div class="testimonialcontent"><img src="images/testimonialimage3.jpg" loading="lazy" width="590" sizes="100vw" srcset="images/testimonialimage3-p-500.jpeg 500w, images/testimonialimage3-p-1080.jpeg 1080w, images/testimonialimage3.jpg 1200w" alt="Fog Coat Of Home" class="image-2 midadjustment">
            <div class="div-block-47">
              <h4 acf:text="Testimonial-Heading 6" class="testimonialheading">Jan 21, 2020 Fred Steel</h4>
              <p acf:text="Testimonial-Paragraph 6" class="testimonialcontent">“Harbor Stucco provided an astounding service for my home. From sandblasting to remove old stucco to the perfectly executed smooth finish. I highly would recommend Harbor Stucco to anyone in need of stucco services.</p>
            </div>
          </div>
        </div>
        <div class="imgwrapper"><img src="images/spanish-home.jpg" loading="lazy" width="590" alt="Spanish Style Home With Smooth finish" class="image-2"><img src="images/smooth-finish-home.jpg" loading="lazy" width="590" alt="Home with Smooth finish stucco" class="image-2"><img src="images/spanish-exterior-finish.jpg" loading="lazy" width="590" alt="Two story Spanish style home" class="image-2"></div>
        <div class="contentcontainer">
          <div class="trstimonialwrapper2">
            <h4 acf:text="Testimonial-Heading 4" class="testimonialheading">Feb, 2019 Susan Adams</h4>
            <p acf:text="Testimonial-Paragraph 4" class="testimonialcontent">“Harbor Stucco provided an astounding service for my home. From sandblasting to remove old stucco to the perfectly executed smooth finish. I highly would recommend Harbor Stucco to anyone in need of stucco services.&quot;</p>
          </div>
          <div class="trstimonialwrapper2">
            <h4 acf:text="Testimonial-Heading 5" class="testimonialheading">Jan 21, 2020 <span class="text-span-25">Fred Steel</span></h4>
            <p acf:text="Testimonial-Paragraph 5" class="testimonialcontent">&quot;Adrian and his team did an incredible job on our exterior stucco. Fair quote, excellent work, and left the job site as clean as a whistle. Highly recommended!&quot;</p>
          </div>
          <div class="trstimonialwrapper2">
            <h4 acf:text="Testimonial-Heading 6" class="testimonialheading">June, 2020 Carrol Stevens</h4>
            <p acf:text="Testimonial-Paragraph 6" class="testimonialcontent">&quot;My friend recommended Harbor Stucco, and I&#x27;m glad he did. My house was re-stuccoed for a very good price. I will definitely hire them again and recommend them to anyone who needs a professional stucco expert.&quot;</p>
          </div>
        </div>
      </div>
    </div>
    <div class="left-arrow-3 w-slider-arrow-left">
      <div class="icon-3 w-icon-slider-left"></div>
    </div>
    <div class="right-arrow-3 w-slider-arrow-right">
      <div class="icon-3r w-icon-slider-right"></div>
    </div>
    <div class="slide-nav-2 w-slider-nav w-round"></div>
  </div>
  <div data-delay="4000" data-animation="slide" class="slider-2 tabletslider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
    <div class="mask w-slider-mask">
      <div class="slide-3 w-slide">
        <div class="container-2 w-container">
          <div class="testimonialcontent tabletadjustment"><img src="images/los-angeles-home.jpg" loading="lazy" alt="Re-Stucco Two Story Home In Los Angeles " height="" sizes="(max-width: 479px) 90vw, (max-width: 767px) 462px, (max-width: 991px) 660px, 100vw" srcset="images/los-angeles-home-p-500.jpeg 500w, images/los-angeles-home.jpg 1200w" class="image-2 midadjustment">
            <h3 acf:text="tablet-testimonialdate-1" class="testimonialheading">Aug, 2020 Michael Sanders</h3>
            <p acf:text="tablet-testimonialparagraph-1" class="testimonialcontent">&quot;I requested a quote from Harbor Stucco for my home. Extremely professional, on time, and advised me about the process of stucco application. It&#x27;s a good group of people to represent Southbay.&quot;<br></p>
          </div>
        </div>
      </div>
      <div class="slide-6 w-slide">
        <div class="container-2 w-container">
          <div class="testimonialcontent tabletadjustment"><img src="images/spanish-home.jpg" loading="lazy" width="590" alt="Spanish Style Home" class="image-2 midadjustment">
            <h4 acf:text="tablet-testimonialdate-2" class="testimonialheading">Feb, 2019 Susan Adams</h4>
            <p acf:text="tablet-testimonialcontent-2" class="paragraph-10">“Harbor Stucco provided an astounding service for my home. From sandblasting to remove old stucco to the perfectly executed smooth finish. I highly would recommend Harbor Stucco to anyone in need of stucco services.&quot;</p>
          </div>
        </div>
      </div>
      <div class="w-slide">
        <div class="container-2 w-container">
          <div class="testimonialcontent tabletadjustment"><img src="images/stucco-home2-slider2_1.jpg" loading="lazy" width="590" sizes="(max-width: 479px) 90vw, (max-width: 767px) 462px, (max-width: 991px) 660px, 100vw" alt="Smooth Stucco Finish " srcset="images/stucco-home2-slider2_1-p-500.jpeg 500w, images/stucco-home2-slider2_1.jpg 1200w" class="image-2 midadjustment">
            <h4 acf:text="tablet-testimonialdate-3" class="testimonialheading">Aug, 2019 Brent Turner</h4>
            <p acf:text="tablet-testimonialcontent-3" class="testimonialcontent">&quot;Our house was re-stuccoed by Harbor Stucco. The whole process was seamless and thoroughly done. They assisted us in making the best decisions for maintaining our home&#x27;s historical yet contemporary look.<br> We couldn&#x27;t be more pleased with the end result! We highly recommend Harbor Stucco.&quot;</p>
          </div>
        </div>
      </div>
      <div class="w-slide">
        <div class="container-2 w-container">
          <div class="testimonialcontent tabletadjustment"><img src="images/spanish-exterior-finish.jpg" loading="lazy" width="590" alt="" class="image-2 midadjustment">
            <h4 acf:text="tablet-testimonialdate-4" class="testimonialheading">June, 2020 Carrol Stevens</h4>
            <p acf:text="tablet-testimonialcontent-4" class="testimonialcontent">&quot;My friend recommended Harbor Stucco, and I&#x27;m glad he did. My house was re-stuccoed for a very good price. I will definitely hire them again and recommend them to anyone who needs a professional stucco expert.&quot;</p>
          </div>
        </div>
      </div>
      <div class="w-slide">
        <div class="container-2 w-container">
          <div class="testimonialcontent tabletadjustment"><img src="images/testimonialimage2.jpg" loading="lazy" width="590" sizes="(max-width: 479px) 90vw, (max-width: 767px) 462px, (max-width: 991px) 660px, 100vw" srcset="images/testimonialimage2-p-500.jpeg 500w, images/testimonialimage2-p-800.jpeg 800w, images/testimonialimage2-p-1080.jpeg 1080w, images/testimonialimage2.jpg 1200w" alt="New Stucco On Home" class="image-2 midadjustment">
            <h4 acf:text="tablet-testimonialdate-5" class="testimonialheading">Jan 21,2020   <span>Fred Steel</span></h4>
            <p acf:text="tablet-testimonialcontent-5" class="testimonialcontent">&quot;Adrian and his team did an incredible job on our exterior stucco. Fair quote, excellent work, and left the job site as clean as a whistle. Highly recommended!&quot;</p>
          </div>
        </div>
      </div>
    </div>
    <div class="left-arrow-2 w-slider-arrow-left">
      <div class="icon-3 w-icon-slider-left"></div>
    </div>
    <div class="right-arrow-2 w-slider-arrow-right">
      <div class="icon-3r w-icon-slider-right"></div>
    </div>
    <div class="slide-nav-2 w-slider-nav w-round"></div>
    </div>
  </section>