<section class="subherosection wf-section">
    <div id="AboutUs" class="div-block">
      <h2 class="subheroheading"><%== @headline %></h2>
      <% to_p(@content) do |paragraph| %>
        <%== "<p class=\"paragraph tabletadjustment\">
          #{paragraph}
        </p>" %>
      <% end %>
    </div>
  </section>