<footer id="footer" class="footer mobilefooteradjustment wf-section">
    <div class="container-7 w-container">
      <div class="footer-flex-container">
      <% each_header() do |header, sub_headers| %>
        <div class="footerelementswrapper">
          <h4 class="footer-heading"><%== header %></h4>
          <% sub_headers.each do |sub_header| %>
          <ul role="list" class="list w-list-unstyled">
            <li class="list-item">
              <a href="#<%== sub_header %>" class="footer-link"><%== sub_header %></a>
            </li>
          </ul>
        <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  <div class="privacypolicy w-container">
  <% @compliance.each do |policy| %>
    <div class="privacywrapper">
      <a href="#" class="privacyp"><%== policy %></a>
    </div>
  <% end %>
  </div>
</footer>
